@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-style {
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s ease;
}
